@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    background-color: rgb(246, 246, 246);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(42, 42, 42);
}


h1 {
    font-family: 'Cormorant', serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-family: 'Cormorant', serif;
}

h3 {
    font-size: 2rem;
    margin: 0;
}


#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a,
p {
    font-family: helvetica;
}

input[type="submit" i] {
    justify-content: center;
    border-radius: 6px;
    color: white;
    background-color: rgb(61, 87, 255);
    border-width: thin;
    height: 30px;
    width: 80px;
    margin: auto;
    font-size: 1rem;
}